extends layout

block content
    <form class="form" action="/add/wood" method="POST">
        
        div.form_sub_container
            div.form_division
                label(for="name") Name: 
                input(type="text" placeholder="Oak" name="name" id="name") 
                span= exist ? exist : ''

            div.form_division
                label(for="type") Type:
                input(type="text" placeholder="softwood" name="type" id="type") 
        
            div.form_division
                label(for="description") Description:
                input(type="text" placeholder="Sturdy and durable" name="description" id="description") 
            
            div.form_division
                span Select colors that apply
                each color in Colors
                    div
                        input(type="checkbox" name="colors" value=color._id id=color.color)
                        label(for=colors) #{color.color}
              
            div.form_division
                label(for='durability') Durability:
                select(name='durability')
                    each durability in Classes
                        option(value=durability._id.toString() selected= durability._id.toString() === durability._id.toString()) #{durability.name}


            div.form_division
                label(for="texture") Texture:
                input(type="text" placeholder="rough" name="texture" id="texture")
            
            div.form_division
                label(for="quantity") Quantity:
                input(type="number" placeholder="30" name="quantity" min="1")

            div.form_division
                label(for="price") Price: 
                input(type="number" placeholder="₱ 54.55" min="0.01" step=".01" name="price")
            
            div.form_division
                label(for="variety") Variety: 
                input(type="text" placeholder="West Oak" name="variety")
            
            br
            
            div.btn_container
                button.btn= Edit ? Edit : 'Add New book'
                span
                    a(href="/" class="cancel") Cancel
           
            

    </form>