extends layout

block content
    h2= exist ? exist : '' || protected ? protected : ''
    h1= Wood.name
    p= Wood.description
    span(style="display:block") Type: #{Wood.type}
    span(style="display:block") Texture: #{Wood.texture}
    span(style="display:block") Durability: #{Wood.durability ? Wood.durability.class : ''}
    span(style="display:block") Color: #{Wood.colors[0] ? Wood.colors[0].color : ''}
    span(style="display:block") Quantity: #{Wood.quantity}
    span(style="display:block") Price: #{Wood.price} 
    span(style="display:block") Variety: #{Wood.variety} 

    br
    if deleteWood 
        <form  action(=`${Wood.del.url}`) style="max-width: 150px;" method="post">
            div.form_division
                label(for="password") password:
                input(type="text" name="password")
                button(class="btn" type="submit")= deleteWood 
        </form>

    br
    a(href="/") Back